In [1]:
import requests
import pandas as pd
import json

In [73]:
headers = {
    'authority': 'www.expresslanes.com',
    'sec-ch-ua': '"Google Chrome";v="111", "Not(A:Brand";v="8", "Chromium";v="111"',
    'accept': 'application/json, text/javascript, */*; q=0.01',
    'x-requested-with': 'XMLHttpRequest',
    'sec-ch-ua-mobile': '?0',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36',
    'sec-ch-ua-platform': '"windows"',
    'sec-fetch-site': 'cross-site',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.expresslanes.com/map-your-trip',
    'accept-language': 'en-US,en;q=0.9',
}

response = requests.get('https://www.expresslanes.com/maps-api/infra-price-confirmed-all', headers=headers)

data = json.loads(response.content)

df = pd.json_normalize(data['response'])


df = df.loc[df['road'] != '395']
df = df.loc[df['road'] != "null"]

In [74]:
print(df)

          od price road ratetype                 time direction status
1    od_1001  null  495     null  2023-04-16 08:00:00         N   open
2    od_1002  1.70  495     null  2023-04-16 08:00:00         N   open
3    od_1003  2.25  495     null  2023-04-16 08:00:00         N   open
4    od_1004  2.65  495     null  2023-04-16 08:00:00         N   open
5    od_1005  3.10  495     null  2023-04-16 08:00:00         N   open
..       ...   ...  ...      ...                  ...       ...    ...
258  od_1261  3.50   95     null  2023-04-16 08:00:00         N   open
259  od_1262  3.75   95     null  2023-04-16 08:00:00         N   open
260  od_1263  3.00   95     null  2023-04-16 08:00:00         N   open
261  od_1264  3.25   95     null  2023-04-16 08:00:00         N   open
262  od_1265  3.50   95     null  2023-04-16 08:00:00         N   open

[228 rows x 7 columns]

In [75]:
df.head(10)

         od price road ratetype                 time direction status
1   od_1001  null  495     null  2023-04-16 08:00:00         N   open
2   od_1002  1.70  495     null  2023-04-16 08:00:00         N   open
3   od_1003  2.25  495     null  2023-04-16 08:00:00         N   open
4   od_1004  2.65  495     null  2023-04-16 08:00:00         N   open
5   od_1005  3.10  495     null  2023-04-16 08:00:00         N   open
6   od_1006  3.40  495     null  2023-04-16 08:00:00         N   open
7   od_1007  3.70  495     null  2023-04-16 08:00:00         N   open
8   od_1008  4.05  495     null  2023-04-16 08:00:00         N   open
9   od_1009  1.70  495     null  2023-04-16 08:00:00         N   open
10  od_1010  2.25  495     null  2023-04-16 08:00:00         N   open

In [69]:
df.to_csv("Answer_to_additional_pythontask.csv")

# Explanation to the Solution ##

In [ ]:
# Importing the libraries

#  import requests python library inorder to easily send the HTTP requests
#  import pandas python library inorder to read the data and do the necessary data operations according to the task given
#  import json python library inorder to convert the json string format into a readable python dictionary format



# code Explanation

# Assigned the variable name 'response' to make the call request using request.get() function using the attributes 'url' and 'headers'

# From response.content we get the json format of the data scraped from url and then used the json library to convert json into readable python dictionary format

# inorder to convert the dictionary format into a pandas DataFrame we used 'pd.json_normalize()'

# Using the loc() function, cleaned the data accordingly as the task stated to scrape the toll rate data only for the Express Lanes L95 and L495

# from df we got price,origin-destination,direction and other values for lanes 95 and 495

# And finally converted to .csv format